<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYrRej47nEWHi_3XYEX-UhwAczEq3ikb0</string>
	<key>GCM_SENDER_ID</key>
	<string>606934179929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chicEvents</string>
	<key>PROJECT_ID</key>
	<string>chic-events-ed916</string>
	<key>STORAGE_BUCKET</key>
	<string>chic-events-ed916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606934179929:ios:2fdd2162ecfe3cb7d25148</string>
</dict>
</plist>